<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.beanu.l3_post"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".L3PostActivity">
        </activity>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"/>
    </application>

</manifest>