<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.beanu.l2_recycleview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".demo.loadmore_header.DemoHeaderLoadMoreActivity">
        </activity>
    </application>

</manifest>